<div class="container initial">
	<!-- Modal -->
	<div id="radicado_modal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="card border-info modal-content">
                <div class="card-header bg-info text-white">
                    <i class="fa fa-bars"></i> <a id="titulo_remitente">&emsp;Correspondencia radicada</a>
                    <button type="button" id="cerrar_radicado" class="close fa-2x text-white" data-dismiss="modal">&times;</button>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label-sm">Nombre:</label>
                                <p class="" id="nombre_radicado"></p>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label-sm">Identificación:</label>
                                <p class="" id="identificacion_radicado"></p>
                            </div>
                            <div class="col-3">
                                <label class="col-form-label-sm">Fecha:</label>
                            </div>
                            <div class="col-7">
                                <label class="col-form-label-sm">Asunto:</label>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label-sm" style="color: white">____________</label>
                            </div>
                            <div class="col-12 border-info alert-info text-center" style="padding-top: 15px" id="campos"></div>
                        </div>
                    </div>
                    <div class="card-footer border-info">

                    </div>
                 </form>
			</div>
		</div>
	</div>
</div>
